.type-3048 {
  background-color: #fff;
  padding-top: 0.05px;
  padding-bottom: 0.05px;
  text-align: center;
}
.type-3048 .border {
  overflow: hidden;
}
.type-3048 .zoom {
  position: relative;
  overflow: hidden;
}
.type-3048 .zoom img {
  transition: transform 0.3s ease;
}
.type-3048 .zoom:hover img {
  transform: scale(1.2);
}
.type-3048 .zoom .add-to-cart {
  background-color: #f2480c;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}
.type-3048 .zoom:hover .add-to-cart {
  transform: translateY(0);
}
.type-3048 .zoom .circle-sale {
  background-color: #da4949;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}
.type-3048 .zoom .price {
  color: #da4949;
}
.type-3048 .zoom .price-sale {
  text-decoration: line-through;
  opacity: .5;
}
.type-3048 .zoom .img-product {
  width: 300px;
  height: 300px;
}
